div[id=myid] p {
    color: green;
}
/* Secendary answer */
/* #myid{
    color: green;
} */

h1 {
    color: pink;
}

#greet{
    color: yellow;
}

.myClass {
    color: brown;
}

/* id>Class>Element */


/* find specificity of these selectors */
/* div p {
    background-color: black;
} */
 /* the specificity of this selector is 2 */

/* .para{
    background-color: blue;
} */
/* The specificity of this selector is 10 */

/* p{
    background-color: green;
} */
/* The specificity of this selector is 1 */


div.greetDiv .greet {
    color: green;
}

.greetDiv p.greet {
    color: blue;
}

.greetDiv .greet{
    color: red;
}