* {
    font-family: 'Courier New';
}

h1,
h2 {
    color: #b92b97;
}

#login {
    background-color: #b92b97;
    color: aliceblue;
}

#signup {
    background-color: #b92b97;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

/* Descendant Selector */
.post a {
    color: purple;
    background-color: yellow;
}

nav ul li a {
    color: hotpink;
}

/* Adjacent Sibling Combinator */
p+h2 {
    text-decoration: underline;
}

.upvote+button {
    background-color: cornflowerblue;
    color: antiquewhite;
}

div>input {
    background-color: greenyellow;
}

input[type="text"] {
    color: blue;
}

input[type="password"] {
    color: red;
}

input[type] {
    background-color: ghostwhite;
}

button:hover {
    background-color: black;
    color: white;
}

h2:hover{
    text-decoration: overline;
    background-color: black;
    color: white;
}

button:active{
    background-color: hotpink;
    color: black;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type=radio]:checked + label {
     color: red;
     font-weight: bold;
}

.post:nth-of-type(2) {
   background-color: yellow;
}

h1::first-letter{
    color: green;
}
    
p::first-line{
    color: red;
}

p::selection{
    background-color: yellow;
}

h2{
    background-color: aqua;
}

h2{
    background-color: darkorange;
}