h1{
    text-align: center;
    text-decoration: red wavy underline;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: avant garde, didot, sans-serif;

    /* border: solid;
    width: 50%; */
}

h3{
    text-align: start;
    text-decoration: pink dotted line-through;
}

p{
    text-align: start;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
}

h2{
    font-weight: 700;
    text-decoration: blue double overline;
}

a{
    text-decoration: none;
}