/* span{ */
    /* background-color: red; */
    /* border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}

div{
       border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
} */

/* div{
     height: 200px;
     width: 200px;
     background-color: greenyellow;
     border: 2px solid black;
     margin: 5px;
     display: inline-block;
}

#third{
    display: none;
} */

#outer{
    background-color: aqua;
    height: 400px;
    width: 400px;
    margin: 50px;
}

#inner{
    background-color: darkblue;
    height: 100px;
    width: 100px;
    margin-left: 20%;
}