/* div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    margin: 10px auto;
    box-shadow: 5px 5px 10px darkred;
} */

/* div {
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url(bgimage.jpg);
    background-size: cover;
    color: white;
    font-weight: 900;
} */

div {
    width: 100px;
    height: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static {
    position: static;
    background-color: yellow;
    top: 100px;
    left: 100px;
}

#relative {
    position: relative;
    background-color: yellow;
    top: 100px;
    left: 100px;
}


#absolute {
    position: absolute;
    background-color: yellow;
    top: 100px;
    left: 100px;
}


#fixed {
    position: fixed;
    background-color: yellow;
    top: 100px;
    left: 100px;
}